<div class="products">
    <h2 class="product__title">{{product.title}}</h2>
    <div class="product__price">${{product.price}}</div>
    <div class="product__rating">
        Rating: {{product.rating}}
    </div>
    <div class="product__reviews">{{product.commentCount}} comments</div>
    <div class="comment-area">
        <header>
            <h1 class="product__title"> comments </h1>
        </header>
        <div class="textarea">
        </div>
        <div class="comment-btn">
        </div>
    </div>

    <form action="/products/{{product._id}}/comments" method="post">
             <textarea name="content" placeholder="Enter the comment"></textarea> <br>
             <button type="submit" class="button"> add comment </button>

    </form>
</div>